<h2 mat-dialog-title>More details</h2>
<mat-dialog-content class="mat-typography">
    <h3>Hotel Name:{{data.hotel}}</h3>
    <h3>Room Type:{{data.type}}</h3>
    <h3>Price:RS.{{data.price}}.00</h3>
    <h3>Number Of Rooms:{{data.count}}</h3>
    <h3>Maximum Adults Count:{{data.maxAdults}}</h3>
    <h3>Start Contract Date:{{data.startContract}}</h3>
    <h3>End Contract Date:{{data.endContract}}</h3>
    <h3>Description:{{data.description}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>